language: python
python:
   - '3.6'
install:
  - pip install awscli cfn-lint
script:
- cfn-lint -f json *.yaml
- aws cloudformation validate-template --template-body file://chef_elasticsearch.yaml
- aws cloudformation validate-template --template-body file://chef_rds.yaml
- aws cloudformation validate-template --template-body file://automate.yaml
- aws cloudformation validate-template --template-body file://chef_server_ha.yaml
- aws cloudformation validate-template --template-body file://supermarket.yaml
env:
  global:
  - AWS_DEFAULT_REGION=us-east-1
  # AWS_ACCESS_KEY_ID
  - secure: "McXO5ZJKxDbfQYoAPiRGsm/UppTovtOcvrntEEIt53vulQS5beeo3c82tcJ8qxkUoKudreWv9E05j8wAIyOA5kKenlmapQYkgNMb1ROZXlklJOh5urhqvYn6mi0nv4MiOidPBvOPgXOm/mkr4tvo40YWa3950sjjrmcDqNugsSl0rsX5tF6/RzJ27xH4AuX8Pp8VqNKNiv9Gkjfy3+b+HPIgmw1esNxTetpjFtstZdz2OHQU6IPcg6tUhu9BbUWaLm7S/iO+E32vgKRheOOh6QWQKF1KFQNvjVQhJHXuAA60HFNrk506rm4y2do4CR8COqMcbjcOILF0CWYG15oMA5+zttUzcicPiXs2de0v0i0y9msAkXwxJuMRFu59p33KnXfEgRAUEwKawefYA7NnLHCWuC4XDmzR163Q7qSZ9aNsMMEvs2dmHe4jtepVXmBQOm6J0eCwh3WZTGZ1oEs5R6Kcoy3RhihUvuxIqp9ZBm6QHJMfoffqCm4ua31coee/H3BNMzQn+eZ6cH7eKy4Kp8LoIFHLzZu+O5f8fx/y5vtMZuc5g45mt7IARe82wGGZrap/gIFLkHO7o+WhoYs9YQtpDBn/S4MlpDbB+ySdCVQc/EtqpxhA7PcpjVSUWHfB0Ik/SfevBlCpl/9DvQI9VxcUPHeTHT4g/heZELxf0Mw="
  # AWS_SECRET_ACCESS_KEY
  - secure: "NRTvDe1Eii9iZ0A9SVzN02C5Ud9Gd5F7YOALRoO4+PHTq8+yjuaaQbk9BlsC2yMWqlLNbnClJ0HHR4RjuM84mKIS3Wy8koi9ZJa43D7ZEqjqGf/GbBxF3oJ7ThEXqWuL8UcxmXarHIE+joUxMtWjNh2n+9//9YIgCELL2QnQ5duEkkNpeXlzPsgkLpeUVTnTLD5n1xPsGhr2ffAss1ktHoYQakyu+/8OWV1SmAjN/i1i3BCYfRZBWE/8HsIu5CMQPb95rUTANtlJVmcrEuKBs3I0TQIWFlWrREpREX1Ggh0zqX3za+3khJoSWMXS5ZcSsNQoz2YieMTANU1bEFGaFm+d7oZbj8LX9Xn/VeVOjCoBE85VSKkalFfrQ25lJCYVHxmpkQWUom73fMJqgBdI/QuS7EtV5w9imy5fnAvRAYvv4R+UVonwFJ2GVzMIWaZcFag4V035j6fhV36E2iFZdWGtXWS0eMR+77+vXxqy79rS34uuyEYLJp0CMJj/S4uqLlqbl7T7+Law4dlSYXJW5+vchN/wbuTx6jXUGnjQ91crxTMR4akMSXttt01MLdjJcS9qgelV51oEKiElo6T/sAF4LennB09E5csl5wvphwKxEq1QZgxrVPoR3HZ3obOJylYwENTREFxYVtBtuK1nxYBc73pcgBnA38N9vxnxFdQ="
deploy:
  provider: s3
  access_key_id:
    secure: oNPkZAaz4bJaXDZxYq/PrudDy7VGMok9pPpfO3B7au68ieOlFKZQr5e93hoH4/ekDspL7ZlquudLyh4pVvv3a6wvRLp7bOmyvfVBPWdzvMhuFGcUaKgft+YU5/xlVamR8tK9ntVOWY1wmJg3NJ1D+1MbxIG980uu4bKfm8BhbZhCDbTl5vH41YlF1c4YCWaFxVFHE5prDDIWIUR8iiTcQKbzVSmIPJOFzx/ym1FK3ipLcNE5aKuB0lWEGF87CWvAQAwMtqhJpxIG9HLjkAjZ/e9TGRkTpndQD3M0zT4XDgQIHUsEl/inVeMC0lIrndFabv9MOLsz7tGv9fNpugtOT/sSa2kYVAFWHYEes+Lk+6ilnpxhf+VsVY0Y59igAlsP0BJexy0Qo9LkxUe79vmlEWFVp0wnc0DC3EQdxlYugXjUqSRRQx3zOs6zSygUOvGnwJmrXlm0f+FkpKfr3jKPjlcuWNL+hKWVpQtBwAYmBLsVE5pi+454MDwhQs498og921qE0ujBV1/snVUu3KCUjsxWyRYYd1Q6QPhBh1ch3lApFelAjuFlXDnUCukwYmQjdZpmky2aLqngHsGyWN9WyCPVic6nAgR9lZpblr+yEEoqZKGwyq2owBl7U2mhmyOnZ+hxCBrunuTPhVenKSZCQ21rt2Yt0pgp71ICSU3AP4g=
  secret_access_key:
    secure: PWviiizhR1S7RcrCpWke2kw8hWjUbF63jtvE7G0JnwO8l1+D30LqYml2jyhcpZFzQlh3WludBajrb9XDaEzyhGNLa06FcwxilHIHbtOIRfsKT9i5YKq6kHwVI/7Vvewigd0joWoihcmK5QQSBtE1P/yOq6+qBPz6DOIhfImQHIYloaTd0fbeRw552pSviol/JmuJFMrUNDUzhwBqZ4Sz1UgY5z0y3sKTNKPY4HoEObb+vX+vdynd89WqwNP32NjmE2vPlalMFtcbrk+gXrc+arurv9XYyJ3sIHxRPdrVBnIc1ZcscOq1UVasbvcU+IPwssXM/xxKvfPhtlZCeg+TGxlqCrFKPVlf0k4ESqVNQX6DsR+8PmaAbHESfW3lLRQmuWCn0ZvmyaHfOWZWoq0FtJByvnarAaC672x3ZbNyyBzfhndv4qbb+struFjOCacjGa2JfCCeflu8FsqoRVm89hDoU5DQ+cQ58kDzA7g/Zb1cvxD7k3K/Wxdlre2B5EPhKxtbfZfdXB6JXdgZbI+oIDrCO9X9gGbKo4CsHQgZVSQ7JR4do9P4BRIvA2bxUUcMUxJ4h+ZSNYs8/eUFks6EYUqGRyIZ6UP3g8/tdmhGNjgW03lnB9HqX17rc1HLV1p1hy2KPL4t7FB/ydC4cd/Ct5jpn3x4TwOEm5GJ370XUCM=
  bucket: aws-native-chef-server
  acl: public_read
  on:
    branch: master
