[
  {
    "ParameterKey":   "SSLCertificateARN",
    "ParameterValue": "arn:aws:acm:us-west-2:446539779517:certificate/82d30a13-b420-4f43-80de-9e7872f70b96"
  },
  {
    "ParameterKey":   "KeyName",
    "ParameterValue": "irving"
  },
  {
    "ParameterKey":   "VPC",
    "ParameterValue": "vpc-41d45124"
  },
  {
    "ParameterKey":   "InboundAdminSecurityGroupId",
    "ParameterValue": "sg-c9beb2ac"
  },
  {
    "ParameterKey":   "LoadBalancerScheme",
    "ParameterValue": "internet-facing"
  },
  {
    "ParameterKey":   "LoadBalancerSubnets",
    "ParameterValue": "subnet-7424b611,subnet-7fd06308,subnet-4dc71114"
  },
  {
    "ParameterKey":   "AutomateSubnet",
    "ParameterValue": "subnet-7424b611"
  },
  {
    "ParameterKey":   "ContactEmail",
    "ParameterValue": "irving@chef.io"
  },
  {
    "ParameterKey":   "ContactDept",
    "ParameterValue": "success"
  },
  {
    "ParameterKey":   "Route53RecordName",
    "ParameterValue": "automate-irving"
  },
  {
    "ParameterKey":   "Route53HostedZone",
    "ParameterValue": "success.chef.co."
  }
]
