[
  {
    "ParameterKey":   "AutomationBucket",
    "ParameterValue": "sce-pub"
  },
  {
    "ParameterKey":   "ElasticSearchVersion",
    "ParameterValue": "5.5"
  },
  {
    "ParameterKey":   "SSLCertificateARN",
    "ParameterValue": "arn:aws:acm:us-west-2:446539779517:certificate/60f573b3-f8ed-48d9-a6d1-e89f79da2e8f"
  },
  {
    "ParameterKey":   "LicenseCount",
    "ParameterValue": "999999"
  },
  {
    "ParameterKey":   "DBPassword",
    "ParameterValue": "SuperSecurePassword"
  },
  {
    "ParameterKey":   "KeyName",
    "ParameterValue": "irving"
  },
  {
    "ParameterKey":   "VPC",
    "ParameterValue": "vpc-fa58989d"
  },
  {
    "ParameterKey":   "InboundAdminSecurityGroupId",
    "ParameterValue": "sg-bddcfbc4"
  },
  {
    "ParameterKey":   "LoadBalancerScheme",
    "ParameterValue": "internet-facing"
  },
  {
    "ParameterKey":   "ChefServerSubnets",
    "ParameterValue": "subnet-66c62b01,subnet-df1611a9,subnet-01473659"
  },
  {
    "ParameterKey":   "ChefServerAssociatePublicIpAddress",
    "ParameterValue": "true"
  },
  {
    "ParameterKey":   "InstanceType",
    "ParameterValue": "c5.large"
  },
  {
    "ParameterKey":   "DBInstanceClass",
    "ParameterValue": "db.m4.large"
  },
  {
    "ParameterKey":   "ContactEmail",
    "ParameterValue": "irving@chef.io"
  },
  {
    "ParameterKey":   "ContactDept",
    "ParameterValue": "success"
  }
]
